@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #111;
  color: #fff;
  font-family: 'Rajdhani', sans-serif;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: 55px;
  background: #000;
  border-bottom: 1px solid #222;
}

.logo {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 4px;
  color: #fff;
  text-transform: uppercase;
}

nav {
  display: flex;
  gap: 28px;
}

nav a {
  font-family: 'Rajdhani', sans-serif;
  font-size: 0.85rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #666;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

nav a.active {
  color: #fff;
}


.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 24px;
}

h2 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  gap: 16px;
  margin-bottom: 40px;
}

.card {
  flex: 1;
  background: #000;
  border: 1px solid #222;
  padding: 20px;
}

.card p {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #555;
  margin-bottom: 8px;
}

.card span {
  font-size: 2.2rem;
  font-weight: 700;
  color: #fff;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
}

th {
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #555;
  text-align: left;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #222;
}

td {
  font-size: 0.9rem;
  font-weight: 600;
  color: #aaa;
  padding: 10px 0;
  border-bottom: 1px solid #1a1a1a;
}

td.destaque {
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
}


.grafico-box {
  background: #000;
  border: 1px solid #222;
  padding: 24px;
}

.grafico-box h2 {
  margin-bottom: 24px;
}

canvas {
  width: 100% !important;
}